/*
Crossword cells are stuck in a big table.  They look like this:
  td, 1px black border -- crossword cell
    div, 3ex width/height, relative pos -- holds the cell content
    div, absolute, small font -- number, if there is one
The focus is attached to a cell by making it a child of the cell:
  div, absolute, bordered, sized 100%x100%
*/

#crosswordui {
  font-family: sans-serif;
  border-top: solid 1px #333;
  border-left: solid 1px #333;
}

#crosswordui td.filled {
  background: #333;
}
#crosswordui td.highlighted {
  background: #ccf !important;
}

#crosswordui td div.number {
  z-index: 1;
  position: absolute;
  font-size: 7pt;
}

#crosswordui div.letter {
  z-index: 2;
  font-family: sans-serif;
  font-weight: bold;
  text-align: center;
  line-height: 3ex;    /* vertical centering! */
  width:       3ex;
  height:      3ex;
  position: relative;
  border-right: solid 1px #333;
  border-bottom: solid 1px #333;
}

#crosswordui div.guess {
  color: #999;
}

#crosswordui .focus {
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  border: solid 3px blue;
  z-index: 2;
}

div.cluesbox {
  padding-bottom: 1ex;
  width: 40ex;
}

div.cluesbox .scroller {
  overflow: hidden;
  border: solid 1px #ccc;
  height: 12em;
}

div.cluesbox .primaryhighlighted {
  background: #ccf;
}
div.cluesbox .otherhighlighted {
  background: #eef;
}

div.cluesbox .clue {
  cursor: pointer;
}

#console {
  padding: 0.2em;
}

#console span.time {
  color: #aaa;
}
